/* 왠만하면 html파일에 link연결하는 것보다 css파일 안에 import하는게 더 보기 좋다 */
@import"reset.css";
@import "variables.css";

/* components - 공통으로 적용 되는 요소들을 넣어 놓음*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";

/* screens - 하나의 이미지에만 적용되는 1회적 요소들을 넣어 놓음 */
@import "screens/login.css"; /* 이미지 02*/
@import "screens/friends.css"; /* 이미지 03*/
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";



/* 이 style 파일에는 모든 곳에 적용되는 기능들만 적어놓음 */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2e363e;
    height: 1000vh;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}


