#chat-screen {
    background-color: antiquewhite;
    height: 500vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
    top: 0px;          
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: antiquewhite;
}

#chat-screen .status-bar {
    z-index: 2;
}

#chat-screen .alt-header {
    top: 25px;
    z-index: 1;
}

@keyframes fadeIn{
    from {
        transform: translateY(20px);
    opacity: 0 ;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.6s linear;
}

.chat__timestamp{
    color: white;
    background-color:#9fb1bf;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 10px;
}

.message__author {
    display: block;
    margin-bottom: 6px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 12px 10px;
    border-radius: 14px;
    /* 한쪽 모서리만 지칭할 때 아래와 같이 쓴다 */
    border-top-left-radius: 0;
    margin-right: 5px;
}

.message__author,
.message__time {
    opacity: 0.8;
    font-size: 13px;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0;
    margin-left: 5px;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply i {
    opacity: 0.5;
}

.reply .reply__column:first-child {
    width: 10%;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    padding: 15px;
    width: 100%;
    border:  var(--main-border);
    border-radius: 20px;
    transition: all .3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -4px;
    top: 7px;
}

.reply__column:last-child i {
    right: 40px;
    top: 23px;
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;

}

.reply__column button i {
    opacity: 1;
    padding-right: 80px ;
}
.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
    opacity: 0;
}

.reply:focus-within input {
    width: 90vw;
    transform: translateX(-10%) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}