.screen-header__gear-dot {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    position: absolute;
    right: 20px;
    top :55px;
}

.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__titile {
    font-size: 12px;
    color: var(--grey)
}

.recommended-friends span{
    margin: 110px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--grey);
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.;
    margin-bottom: 25px;
}

.open-chat__header span {
    opacity: 0.5;
}

.open-post__2row,
.open-post__1row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    border-bottom: var(--main-border);
    padding: 10px 0;
}

.open-post__title {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 8px;
}

.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post__members {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin-right: 5px;
}

.open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
}

.open-post__members .divider{
    width: 1px;
    height: 12px;
    margin: 0 5px;
    background-color: var(--grey);
}

.open-post__member-status {
    color: #ffb0e0;
}

.open-post__photo {
    position: relative;
}

.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 14px;
}

.open-post__heart-count span {
    margin-left: 3px;
}