/* 03 이미지에만 1회적으로 적용되는 요소들을 넣음 */
#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 16px;
    margin-bottom: 10px;
}

#friends-display-link i{
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
    padding:0px var(--horizontal-space);
}

.friends-screen__channel{
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}

.friens-screen__channel-header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}