.icon-row {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.icon-row__icon {
    display: flex;
    flex-direction: column; /*row는 옆에 오는거 column은 다음 줄에 오는거. 하나의 div에서 두 줄로 만들고 싶을 땨*/
    align-items: center;
}

.icon-row__icon i {
    font-size: 35px;
}

.icon-row__icon span {
    margin-top: 15px;
}