.nav {
    /* position:fixed같이 고정을 할 땐 위나 아래 고정시켜 둘 위치에 0이라고 하고
    width를 100%를 줘서 화면 전체를 모두 쓰게 설정해 줘야 일렬로 설정해 놓은 내용들이 꺠지지 않는다 */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    /*  */
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2e363e;
}