.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-right: 25px;
}

@keyframes rotateGear{
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg)
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotateGear 3s linear infinite;
}
